*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.conteiner {
  width: 1240px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
}
body {
  font-family: Poppins;
  background: #1e252b;
}

.header {
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  gap: 0 230px;
  margin-bottom: 110px;
}

.header-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 20px;
  align-self: flex-start;
}
.header-nav-wrap {
  display: flex;
  gap: 0 170px;
}
.header-logo {
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}
.nav-list {
  display: flex;
  gap: 0 40px;
  align-content: center;
}
.nav-item {
  display: flex;
  align-content: end;
  align-self: center;
}
.nav-item:nth-child(2) .nav-list-link::after {
  content: "";
  background-image: url(img/chevron-down.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  align-self: flex-end;
}
.header-list {
  display: flex;
  gap: 70px;
  align-self: flex-start;
}
.nav-list-link {
  color: rgba(255, 255, 255, 0.55);
}
.header-item {
  font-weight: 600;
  display: flex;
  align-items: end;
}
.header-list-link {
  color: rgba(255, 255, 255, 0.78);
  align-self: center;
}
.header-list-btn {
  font-weight: 600;
  color: #fdf5ff;
  border-radius: 8px;
  background: #ff6e30;
  padding: 12px 28px;
  text-align: center;
}
.banner {
  background-image: url(img/Illustration.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin-bottom: 210px;
}
.banner-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
.dot {
  color: #ff6e30;
}
.banner-tytle {
  font-weight: 500;
  color: #fff;
  font-size: 50px;
  line-height: 1.4;
}
.banner-text {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.55);
  line-height: 1.66;
  width: 487px;
}
.popular-btn {
  font-weight: 600;
}
.search::before {
  content: "";
  background-image: url(img/search.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding-left: 20px;
  display: inline-block;
}
.search {
  padding-left: 20px;
}
.banner-form {
  margin-top: 30px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
  width: 500px;
  height: 64px;
  display: flex;
  align-items: center;
}
.banner-textarea {
  font-weight: 400;
  padding-left: 13px;
  width: 315px;
  height: 64px;
  border: none;
  color: rgba(255, 255, 255, 0.38);
  background-color: #283036;
  border-top: 1.5px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
}
.banner-wrap {
  display: flex;
}
.banner-btn {
  font-weight: 600;
  border-radius: 8px;
  background: #ff6e30;
  width: 130.435px;
  height: 48px;
  border: none;
  justify-self: end;
  color: #fff;
}
.banner-img-wrap {
  display: flex;
  gap: 0 30px;
  margin-top: 120px;
}
.popular {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular-tytle {
  line-height: 130%;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.popular-text {
  width: 427px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  line-height: 166%;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 25px;
  margin-top: 90px;
}
.popular-item {
  width: 386px;
  height: 294px;
  border-radius: 15px;
  background: #1e252b;
  display: flex;
  flex-direction: row;
  gap: 0 30px;
}
.popular-img {
  width: 64px;
  height: 64px;
  margin-top: 33px;
  margin-left: 33px;
}

.popular-item:hover .popular-list-text {
  color: rgba(255, 255, 255, 0.78);
}
.popular-item:hover .popular-list-subtytle {
  color: #ffa537;
}
.popular-item:hover .popular-list-tytle {
  color: rgba(255, 255, 255, 0.9);
}
.popular-item:hover .popular-list-btn {
  background: #ff6e30;
  color: #fff;
}
.popular-item:hover {
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0)
    ),
    url(img/Ellipse194.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.popular-list-tytle {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
}
.popular-list-subtytle {
  font-weight: 400;
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  margin-bottom: 30px;
}
.popular-list-text {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  line-height: 188%;
}
.popular-item-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}
.popular-list-btn {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  border-radius: 8px;
  background: #1e252b;
  width: 106px;
  height: 42px;
  border: none;
  align-self: flex-end;
  position: relative;
  bottom: 10px;
  margin-right: 10px;
}
.popular-list-wrap {
  display: flex;
  gap: 0 25px;
  position: relative;
  right: 100px;
  top: 30px;
}
.popular-list-wrap:hover .like::before {
  content: "";
  background-image: url(img/flat-color-icons_like.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
}
.like::before {
  content: "";
  background-image: url(img/flat-white-icons_like.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 40px;
}
.folder::before {
  content: "";
  background-image: url(img/eva_folder-add-outline.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 40px;
}
.popular-btn {
  width: 184px;
  height: 64px;
  color: #ff6e30;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e252b;
  margin-bottom: 200px;
  margin-top: 100px;
}
.brands {
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0)
    ),
    url(img/Ellipse195.png);
  background-repeat: no-repeat;
  height: 253px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 56px 0;
}
.brands-tytle {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  text-align: center;
}
.brands-list {
  display: flex;
  gap: 0 107px;
  justify-content: center;
}

.newcomer {
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 0 200px;
  margin-top: 200px;
  padding-top: 20px;
  margin-bottom: 200px;
}
.newcomer-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
.newcomer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 25px;
}
.newcomer-tytle {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  line-height: 130%;
}
.newcomer-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  width: 427px;
  line-height: 166%;
}
.newcomer-btn {
  border-radius: 8px;
  background: #ff6e30;
  width: 198px;
  height: 58px;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
}
.newcomer-item {
  font-weight: 400;
  width: 278px;
  height: 274px;
  border-radius: 15px;
  padding: 25px;
}
.newcomer-list-tytle {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
}
.newcomer-list-subtytle {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  position: relative;
  left: 65px;
  bottom: 40px;
}
.newcomer-list-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
}
.newcomer-list-btn {
  font-weight: 600;
  width: 106px;
  height: 42px;
  border-radius: 8px;
  background: #1e252b;
  border: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  position: relative;
  margin-left: 125px;
  top: -5px;
}
.newcomer-item:hover .newcomer-list-text {
  color: rgba(255, 255, 255, 0.78);
}
.newcomer-item:hover .newcomer-list-subtytle {
  color: #ffa537;
}
.newcomer-item:hover .newcomer-list-tytle {
  color: rgba(255, 255, 255, 0.9);
}
.newcomer-item:hover .newcomer-list-btn {
  background: #ff6e30;
  color: #fff;
}
.newcomer-item:hover {
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0)
    ),
    url(img/Ellipse194.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.newcomer-list-wrap-logo:hover .like::before {
  content: "";
  background-image: url(img/flat-color-icons_like.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
}
.newcomer-list-wrap-logo {
  display: flex;
  position: relative;
  top: 30px;
  gap: 25px;
}
.newcomer-list-wrap {
  display: flex;
  position: relative;
}
.testimonial {
  font-weight: 400;
}
.testimonial-tytle {
  font-weight: 500;
}

.join {
  font-weight: 500;
}
.join-btn {
  font-weight: 600;
}

.footer {
  font-weight: 500;
}
.footer-logo {
  font-weight: 600;
}
.footer-item-item-text {
  font-weight: 400;
}
